<%- include("partials/header") %>

   
<table class="table"><table>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Sender Email</th>
            <th scope="col">Receiver Email</th>
            <th scope="col">Amount</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
          <% for (let i = 0; i < currentHistory.length; i++) { %>
          <tr>
            <th scope="row"><%= currentHistory[i].senderEmail %></th>
            <td><%= currentHistory[i].receiverEmail %></td>
            <td><%= currentHistory[i].amount %></td>
            <td>@<%= currentHistory[i].date %></td>
          </tr>
        </tbody>

        <% } %>


</table> 
<%- include("partials/footer") %>
